/* Reset styles */

* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}



body {

    font-family: 'Arial', sans-serif;

    background-color: #f4f4f4;

    color: #333;

    text-align: center;

    padding: 20px;

}



.container {

    max-width: 800px;

    margin: 0 auto;


}



h1, h2  {

    color: #1439db;

    animation: fadeIn 2s ease-in-out;

}

p {

    margin-bottom: 20px;
    font-size: 18px;
    color: #555;
}
#intro {

    margin-top: 50px;
    
    border-bottom: 2px solid blue;

}



#typing {

    font-size: 1.2em;

    margin-top: 20px;

    color: #1439db;

    height: 40px;

}



button {

    margin-top: 20px;

    padding: 10px 20px;

    font-size: 1.2em;

    background-color: #007bff;

    color: white;

    border: none;

    border-radius: 5px;

    cursor: pointer;

    animation: pulse 2s infinite;

}



button:hover {

    background-color: #0056b3;

}



.hidden {

    display: none;

}

.fade-in {
    animation: fadeIn 1.5s ease-in-out;
}

.quote { 
    font-size:smaller
}

section {

    margin-top: 30px;

}



ul {

    list-style-type: none;

    padding: 0;

}



ul li {

    margin: 10px 0;

}



/* Animations */

@keyframes fadeIn {

    0% {

        opacity: 0;

    }

    100% {

        opacity: 1;

    }

}



@keyframes pulse {

    0% {

        transform: scale(1);

    }

    50% {

        transform: scale(1.1);

    }

    100% {

        transform: scale(1);

    }

}



